<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  
  <div class="main-container container">
    <div class="sidebar-wrapper">
      {{ partial "sidebar.html" . }}
    </div>
    <main class="content-wrapper">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
  
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
